/* GENERAL */

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  color: #52576b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* MAIN */

main {
  background-color: #fff;
  text-align: center;
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  max-width: 20rem;
}

img {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.375rem;
  color: #1f314f;
  margin-bottom: 1rem;
}

p {
  padding: 0 1rem;
  letter-spacing: 0.01175rem;
}
