/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  background-color: #d5e1ef;
  color: #52576b;
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* MAIN */

main {
  background-color: #fff;
  text-align: center;
  border-radius: 1.25rem;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 2.5rem 1rem;
  max-width: 20rem;
}

img {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

h2 {
  color: #1f314f;
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

p {
  letter-spacing: 0.01175rem;
  padding: 0 1rem;
}

li {
  list-style: none;
}
